
 <footer class="footer">
          <div class="container">
            <p class="text-muted">Copyright &copyrights received from Shankar Rao Vallapurapu</p>
            
          </div>
</footer>


</body>
</html>