body{
	background-image:url("bg.jpg");
	font-family: "Comic Sans MS", cursive, sans-serif;

}

footer{
	text-align: center;
	color: blue;
}

h1{
	color: red;
}

.container{
	color: green;
}

.panel-body{
	color: black;
}

.panel-heading{
	color: blue;
}