.navbar-nav>li:hover {
    background-color: #9400D3;
}

body{
    background-image: url(../bg.jpg);
}

#div1{
    color: black;
    margin-left: 0px;
    width: 1200px;
    height: 1500px;
    font-size: 16px;
}

table,th,tr,td{border: 1px solid black;
                margin-left: 0px;
                width: 50px;
}

.len{
	width: 70px;
}

.table table-bordered{
	width = 100px
}

#green{
    color: blue;
}

#grey{
    color:blue;
}

/*div:hover{
	border: 1px dotted;
}*/